.vs
Binary
Intermediate
WindowsRemoteDataConnector\obj
WindowsRemoteDataConnector\bin
StringHashGenerator\obj
StringHashGenerator\bin
SailTablePackagerForCvs\obj
SailTablePackagerForCvs\bin
SailDatasetPackager\obj
SailDatasetPackager\bin
MicrosoftAzureInitializer\obj
MicrosoftAzureInitializer\bin
