azure-mgmt-resource
msrestazure
azure-identity
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-storage
azure-storage-file-share
azure-keyvault-keys
azure-mgmt-keyvault
azure-mgmt-monitor

# fastapi
pydantic==1.9.1

# database-init
/database_initialization-0.1.0-py3-none-any.whl
/sail_client-0.1.0-py3-none-any.whl