# Default Reviewers for all code changes
* @stanleylinSail @JENKINS-SAIL

# Review for README.md
*.md @stanleylinSail

# Review for Builds
*.sh @JENKINS-SAIL @prawalgangwar @stanleylinSail
*.bat @JENKINS-SAIL @stanleylinSail

# Github Configs PR review
.github/ @JENKINS-SAIL @stanleylinSail

# Review for Platform Stability
/ApiServices/ @prawalgangwar @JingweiZhangBoston @nathan-SAIL
/AuditService/ @JingweiZhangBoston
/AzureDeploymentTemplates/ @prawalgangwar @JingweiZhangBoston @stanleylinSail
/CI_CD/ @JENKINS-SAIL @stanleylinSail
/DatasetTool/ @prawalgangwar
/DeployPlatform/ @prawalgangwar @JingweiZhangBoston @stanleylinSail
/DevopsConsole/ @prawalgangwar
/Docker/ @prawalgangwar @stanleylinSail @JingweiZhangBoston
/Make/ @prawalgangwar @JingweiZhangBoston
/RPCLib/ @JingweiZhangBoston
/database-initialization/ @prawalgangwar
/VmInitializer/ @prawalgangwar
