
Milestone2/VirtualMachine/DataConnectorPythonModule/libDataConnector.so
Milestone2/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v16/.suo
Milestone2/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v16/Browse.VC.db
Milestone2/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v16/Solution.VC.db
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.ilk
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.exp
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.lib
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureInitializer.exe
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureInitializer.exe.config
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureInitializer.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.exp
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.ilk
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.lib
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/64BitHashes.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Base64Encoder.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/BaseException.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.Build.CppClean.log
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.idb
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.lib.recipe
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.log
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/CL.10360.write.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/CL.command.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/CL.read.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/CoreLibrary.lastbuildstate
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/Lib-link.read.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/Lib-link.write.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/Lib.command.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.vcxproj.FileListAbsolute.txt
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/ExceptionRegister.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Guid.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/JsonValue.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Object.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/RestApiHelperFunctions.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/SmartMemoryAllocator.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/StructuredBuffer.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/StructuredBufferElement.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Utils.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/DllMain.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/CL.11932.write.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/CL.command.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/CL.read.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/link.command.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/link.read.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/link.write.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/MicrosoftAzureApiFunctions.lastbuildstate
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/MicrosoftAzureApiFunctions.write.1u.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/MicrosoftAzureApiFunctions.Build.CppClean.log
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/MicrosoftAzureApiFunctions.dll.recipe
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/MicrosoftAzureApiFunctions.log
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/MicrosoftAzureApiFunctions.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/MicrosoftAzureApiFunctions.vcxproj.FileListAbsolute.txt
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/vc142.idb
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/vc142.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/DllMain.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/CL.11924.write.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/CL.command.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/CL.read.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/link.command.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/link.read.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/link.write.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/SailWebApiPortalFunctions.lastbuildstate
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/SailWebApiPortalFunctions.write.1u.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebApiFunctions.log
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebApiFunctions.vcxproj.FileListAbsolute.txt
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebApiPortalFunctions.Build.CppClean.log
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebApiPortalFunctions.dll.recipe
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebApiPortalFunctions.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/vc142.idb
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/vc142.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/Libraries/x64/Debug/CoreLibrary.lib
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/App.config
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/MicrosoftAzureInitializer.csproj
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.csproj.CoreCompileInputs.cache
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.csproj.FileListAbsolute.txt
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.csproj.GenerateResource.cache
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.csprojAssemblyReference.cache
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.exe
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/StringHashGenerator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Milestone2/InternalTools/WindowsPlatformDeliverables/StringHashGenerator/obj/Debug/StringHashGenerator.csprojAssemblyReference.cache
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureInitializer.exe
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/Libraries/x64/Debug/CoreLibrary.lib
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/App.config
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/MicrosoftAzureInitializer.csproj
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureInitializer.exe
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/Libraries/x64/Debug/CoreLibrary.lib
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/App.config
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/MicrosoftAzureInitializer.csproj
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.Properties.Resources.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.ConfidentialVirtualMachineManualSettingsDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.ExceptionsDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.InitializerOnlySettingsDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.ManualSettingsDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.MicrosoftAzureLoginDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.SailWebApiPortalLoginDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.StartupDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.VirtualMachineProvisionerDialog.resources
mongo*
*.a
.vscode/
