
Milestone2/VirtualMachine/DataConnectorPythonModule/libDataConnector.so
Milestone2/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v16/.suo
Milestone2/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v16/Browse.VC.db
Milestone2/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v16/Solution.VC.db
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.ilk
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.exp
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.lib
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureInitializer.exe
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureInitializer.exe.config
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureInitializer.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.exp
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.ilk
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.lib
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/64BitHashes.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Base64Encoder.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/BaseException.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.Build.CppClean.log
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.idb
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.lib.recipe
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.log
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/CL.10360.write.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/CL.command.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/CL.read.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/CoreLibrary.lastbuildstate
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/Lib-link.read.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/Lib-link.write.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/Lib.command.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.vcxproj.FileListAbsolute.txt
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/ExceptionRegister.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Guid.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/JsonValue.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Object.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/RestApiHelperFunctions.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/SmartMemoryAllocator.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/StructuredBuffer.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/StructuredBufferElement.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Utils.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/DllMain.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/CL.11932.write.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/CL.command.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/CL.read.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/link.command.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/link.read.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/link.write.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/MicrosoftAzureApiFunctions.lastbuildstate
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/Microsof.d17f573f.tlog/MicrosoftAzureApiFunctions.write.1u.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/MicrosoftAzureApiFunctions.Build.CppClean.log
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/MicrosoftAzureApiFunctions.dll.recipe
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/MicrosoftAzureApiFunctions.log
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/MicrosoftAzureApiFunctions.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/MicrosoftAzureApiFunctions.vcxproj.FileListAbsolute.txt
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/vc142.idb
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/MicrosoftAzureApiFunctions/x64/Debug/vc142.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/DllMain.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/CL.11924.write.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/CL.command.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/CL.read.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/link.command.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/link.read.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/link.write.1.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/SailWebApiPortalFunctions.lastbuildstate
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebA.97efffb3.tlog/SailWebApiPortalFunctions.write.1u.tlog
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebApiFunctions.log
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebApiFunctions.vcxproj.FileListAbsolute.txt
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebApiPortalFunctions.Build.CppClean.log
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebApiPortalFunctions.dll.recipe
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/SailWebApiPortalFunctions.obj
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/vc142.idb
Milestone2/InternalTools/WindowsPlatformDeliverables/Intermediate/SailWebApiPortalFunctions/x64/Debug/vc142.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/Libraries/x64/Debug/CoreLibrary.lib
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/App.config
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/MicrosoftAzureInitializer.csproj
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.csproj.CoreCompileInputs.cache
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.csproj.FileListAbsolute.txt
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.csproj.GenerateResource.cache
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.csprojAssemblyReference.cache
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.exe
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.pdb
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/StringHashGenerator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Milestone2/InternalTools/WindowsPlatformDeliverables/StringHashGenerator/obj/Debug/StringHashGenerator.csprojAssemblyReference.cache
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureInitializer.exe
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/Libraries/x64/Debug/CoreLibrary.lib
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/App.config
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/MicrosoftAzureInitializer.csproj
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureApiFunctions.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/MicrosoftAzureInitializer.exe
Milestone2/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailWebApiPortalFunctions.dll
Milestone2/InternalTools/WindowsPlatformDeliverables/Libraries/x64/Debug/CoreLibrary.lib
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/App.config
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/MicrosoftAzureInitializer.csproj
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.Properties.Resources.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.ConfidentialVirtualMachineManualSettingsDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.ExceptionsDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.InitializerOnlySettingsDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.ManualSettingsDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.MicrosoftAzureLoginDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.SailWebApiPortalLoginDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.StartupDialog.resources
Milestone2/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureVirtualMachineInitializer.VirtualMachineProvisionerDialog.resources
mongo*
*.a
.vscode/
Milestone5/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v17/.suo
Milestone5/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v17/Browse.VC.db
Milestone5/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v17/Browse.VC.db-shm
Milestone5/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v17/Browse.VC.db-wal
Milestone5/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v17/Browse.VC.opendb
Milestone5/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v17/ipch/AutoPCH/7c6855a21f46ac76/DATASETPACKAGINGTOOLSUPPORTFUNCTIONS.ipch
Milestone5/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v17/Solution.VC.db
Milestone5/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v17/Solution.VC.db-shm
Milestone5/InternalTools/WindowsPlatformDeliverables/.vs/Windows Platform Deliverables/v17/Solution.VC.db-wal
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/CsvHelper.xml
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/Microsoft.Bcl.AsyncInterfaces.dll
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/Microsoft.Bcl.AsyncInterfaces.xml
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/Microsoft.Bcl.HashCode.dll
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/Microsoft.Bcl.HashCode.xml
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailDatasetPackager.exe.config
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailDatasetPackager.pdb
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailSupportLibrary.exp
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailSupportLibrary.lib
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailSupportLibrary.pdb
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailTablePackagerForCsv.exe.config
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/SailTablePackagerForCsv.pdb
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/System.Buffers.dll
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/System.Buffers.xml
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/System.Memory.dll
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/System.Memory.xml
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/System.Numerics.Vectors.dll
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/System.Numerics.Vectors.xml
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/System.Runtime.CompilerServices.Unsafe.dll
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/System.Runtime.CompilerServices.Unsafe.xml
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/System.Threading.Tasks.Extensions.dll
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/System.Threading.Tasks.Extensions.xml
Milestone5/InternalTools/WindowsPlatformDeliverables/Binaries/x64/Debug/Template.stpt
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/64BitHashes.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/7zFile.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/7zStream.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Alloc.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Base64Encoder.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/BaseException.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CompressionHelperFunctions.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.lib.recipe
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.log
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/CL.11060.write.1.tlog
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/CL.command.1.tlog
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/CL.read.1.tlog
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/CoreLibrary.lastbuildstate
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/Lib-link.read.1.tlog
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/Lib-link.write.1.tlog
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CoreLibrary.tlog/Lib.command.1.tlog
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/CpuArch.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/DateAndTime.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/ExceptionRegister.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Guid.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/JsonParser.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/JsonValue.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/LzFind.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/LzFindMt.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Lzma2Dec.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Lzma2Enc.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/LzmaDec.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/LzmaEnc.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/MtCoder.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/MtDec.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Object.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/RestApiHelperFunctions.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/SmartMemoryAllocator.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/StructuredBuffer.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/StructuredBufferElement.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Threads.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/CoreLibrary/x64/Debug/Utils.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/DatasetFamilySupportFunctions.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/DatasetPackagingToolSupportFunctions.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/DigitalContractSupportFunctions.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/DllMain.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/MiscellaneousSupportFunctions.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/RemoteDataConnectorFunctions.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/SailApiBaseServices.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/SailSupp.97efffb3.tlog/CL.11396.write.1.tlog
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/SailSupp.97efffb3.tlog/CL.command.1.tlog
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/SailSupp.97efffb3.tlog/CL.read.1.tlog
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/SailSupp.97efffb3.tlog/link.command.1.tlog
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/SailSupp.97efffb3.tlog/link.read.1.tlog
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/SailSupp.97efffb3.tlog/link.write.1.tlog
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/SailSupp.97efffb3.tlog/SailSupportLibrary.lastbuildstate
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/SailSupp.97efffb3.tlog/SailSupportLibrary.write.1u.tlog
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/SailSupportLibrary.dll.recipe
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/SailSupportLibrary.ilk
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/SailWebApiFunctions.log
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/SharedUtilityFunctions.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/vc143.idb
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/vc143.pdb
Milestone5/InternalTools/WindowsPlatformDeliverables/Intermediate/SailSupportLibrary/x64/Debug/VirtualMachineInitialization.obj
Milestone5/InternalTools/WindowsPlatformDeliverables/Libraries/x64/Debug/CoreLibrary.idb
Milestone5/InternalTools/WindowsPlatformDeliverables/Libraries/x64/Debug/CoreLibrary.pdb
Milestone5/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Milestone5/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/MicrosoftAzureInitializer/obj/Debug/MicrosoftAzureInitializer.csproj.AssemblyReference.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.AboutDialog.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.csproj.AssemblyReference.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.csproj.CopyComplete
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.csproj.CoreCompileInputs.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.csproj.FileListAbsolute.txt
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.csproj.GenerateResource.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.csproj.SuggestedBindingRedirects.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.DatasetPackagerDialog.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.exe
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.MainDialog.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.pdb
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.Properties.Resources.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.SailWebApiPortalLoginDialog.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/SailDatasetPackager/obj/Debug/SailDatasetPackager.StructuredBufferTestDialog.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.csproj.AssemblyReference.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.csproj.CoreCompileInputs.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.csproj.FileListAbsolute.txt
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.csproj.GenerateResource.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.csproj.SuggestedBindingRedirects.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.EditColumnBooleanPropertyDialog.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.EditColumnStringPropertyDialog.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.exe
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.FileSelectionDialog.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.GlobalImportPropertiesDialog.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.pdb
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.Properties.Resources.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.SelectUnitsDialog.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.TableEditDialog.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/SailTablePackagerForCvs/obj/Debug/SailTablePackagerForCsv.TablePackagerDialog.resources
Milestone5/InternalTools/WindowsPlatformDeliverables/StringHashGenerator/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Milestone5/InternalTools/WindowsPlatformDeliverables/StringHashGenerator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/StringHashGenerator/obj/Debug/StringHashGenerator.csproj.AssemblyReference.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/WindowsRemoteDataConnector/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Milestone5/InternalTools/WindowsPlatformDeliverables/WindowsRemoteDataConnector/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Milestone5/InternalTools/WindowsPlatformDeliverables/WindowsRemoteDataConnector/obj/Debug/WindowsRemoteDataConnector.csproj.AssemblyReference.cache
