fastapi
uvicorn
pytest
requests
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
flake8
black
motor
pyflakes
pymongo
python-multipart

azure-mgmt-resource
msrestazure
azure-identity
azure-mgmt-compute
azure-mgmt-network
