# SubscriptionIdentifier
# ResourceGroup
# Location
# VirtualNetwork
# NetworkSecurityGroup
# ConfidentialOsDisksUrl
# ConfidentialOsDiskVgmsUrl
# OsDiskStorageAccount
20c11edd-abb4-4bc0-a6d5-c44d6d2524be
MyNewResourceGroup
eastus
/subscriptions/20c11edd-abb4-4bc0-a6d5-c44d6d2524be/resourceGroups/NewConfidentialVm/providers/Microsoft.Network/virtualNetworks/FirstConfidentialVm-vnet
/subscriptions/20c11edd-abb4-4bc0-a6d5-c44d6d2524be/resourceGroups/NewConfidentialVm/providers/Microsoft.Network/networkSecurityGroups/FirstConfidentialVm-nsg
https://newcon60195.blob.core.windows.net/vhds/1ubuntu20.04.vhd
https://newcon60195.blob.core.windows.net/vhds/vmgs.vhd
/subscriptions/20c11edd-abb4-4bc0-a6d5-c44d6d2524be/resourceGroups/NewConfidentialVm/providers/Microsoft.Storage/storageAccounts/newcon60195
# One or more virtual machine settings using the template. The number of virtual
# machines to instantiate is derived from the number of entries below
# BaseMachineName,VirtualMachineSize,DigitalContractIdentifier,DatasetFile
Standard_DC2as_v4,{3267E72F-ACCF-4D70-956F-929FDDE370D0},h1.csvp
Standard_DC2as_v4,{32B7F90D-583C-4194-A936-75A532252348},h2.csvp
Standard_DC2as_v4,{33AD6CC5-D946-41BF-B079-032A19F1A34B},kca.csvp