.vs
Binary
Intermediate
WindowsRemoteDataConnector\obj
WindowsRemoteDataConnector\bin
StringHashGenerator\obj
StringHashGenerator\bin
SailTablePackagerForCvs\obj
SailTablePackagerForCvs\bin
SailDatasetPackager\obj
SailDatasetPackager\bin
MicrosoftAzureInitializer\obj
MicrosoftAzureInitializer\bin
Binaries/x64/Debug/CsvHelper.xml
Binaries/x64/Debug/Microsoft.Bcl.AsyncInterfaces.dll
Binaries/x64/Debug/Microsoft.Bcl.AsyncInterfaces.xml
Binaries/x64/Debug/Microsoft.Bcl.HashCode.dll
Binaries/x64/Debug/Microsoft.Bcl.HashCode.xml
Binaries/x64/Debug/SailDatasetPackager.exe.config
Binaries/x64/Debug/SailDatasetPackager.pdb
Binaries/x64/Debug/SailSupportLibrary.exp
Binaries/x64/Debug/SailSupportLibrary.lib
Binaries/x64/Debug/SailSupportLibrary.pdb
Binaries/x64/Debug/SailTablePackagerForCsv.exe.config
Binaries/x64/Debug/SailTablePackagerForCsv.pdb
Binaries/x64/Debug/System.Buffers.dll
Binaries/x64/Debug/System.Buffers.xml
Binaries/x64/Debug/System.Memory.dll
Binaries/x64/Debug/System.Memory.xml
Binaries/x64/Debug/System.Numerics.Vectors.dll
Binaries/x64/Debug/System.Numerics.Vectors.xml
Binaries/x64/Debug/System.Runtime.CompilerServices.Unsafe.dll
Binaries/x64/Debug/System.Runtime.CompilerServices.Unsafe.xml
Binaries/x64/Debug/System.Threading.Tasks.Extensions.dll
Binaries/x64/Debug/System.Threading.Tasks.Extensions.xml
Binaries/x64/Debug/Template.stpt
Libraries/x64/Debug/CoreLibrary.idb
Libraries/x64/Debug/CoreLibrary.pdb
