Binary
InternalTools\WindowsPlatformDeliverables\.vs
InternalTools\WindowsPlatformDeliverables\Intermediate
InternalTools\WindowsPlatformDeliverables\WindowsRemoteDataConnector\obj
InternalTools\WindowsPlatformDeliverables\StringHashGenerator\obj
InternalTools\WindowsPlatformDeliverables\SailTablePackagerForCvs\obj
InternalTools\WindowsPlatformDeliverables\SailDatasetPackager\obj
InternalTools\WindowsPlatformDeliverables\MicrosoftAzureInitializer\obj
InternalTools\WindowsPlatformDeliverables\MicrosoftAzureInitializer\obj