Binary
InternalTools\WindowsPlatformDeliverables\.vs
InternalTools\WindowsPlatformDeliverables\Binary
InternalTools\WindowsPlatformDeliverables\Intermediate
InternalTools\WindowsPlatformDeliverables\WindowsRemoteDataConnector\obj
InternalTools\WindowsPlatformDeliverables\WindowsRemoteDataConnector\bin
InternalTools\WindowsPlatformDeliverables\StringHashGenerator\obj
InternalTools\WindowsPlatformDeliverables\StringHashGenerator\bin
InternalTools\WindowsPlatformDeliverables\SailTablePackagerForCvs\obj
InternalTools\WindowsPlatformDeliverables\SailTablePackagerForCvs\bin
InternalTools\WindowsPlatformDeliverables\SailDatasetPackager\obj
InternalTools\WindowsPlatformDeliverables\SailDatasetPackager\bin
InternalTools\WindowsPlatformDeliverables\MicrosoftAzureInitializer\obj
InternalTools\WindowsPlatformDeliverables\MicrosoftAzureInitializer\bin