numpy==1.22.3
pandas==1.4.1
scipy==1.8.0
torch==1.12.1
matplotlib==3.6.2
fastapi==0.87.0
uvicorn==0.20.0
python-multipart==0.0.5
psutil==5.9.4
msgpack==1.0.4
pyzmq==22.0.3
pycryptodome==3.16.0
scikit-learn==1.0.2
