fastapi # Test
uvicorn
pytest # Test
requests # Test
python-jose[cryptography]  # Test
passlib[bcrypt]  # Test
pydantic[email] # Test
flake8 # Test
black # Test
motor # Test
pyflakes
pymongo
python-multipart # Test

azure-mgmt-resource  # Test
msrestazure # Test
azure-identity # Test
azure-mgmt-compute # Test
azure-mgmt-network # Test
