# CI workflow Docker Build
name: CI for Development Repository
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
# Only one concurrent action at a time for group tag.
concurrency:
  group: CI-Build-Development
  cancel-in-progress: true

jobs: 
  start-runner:
    runs-on: ubuntu-latest
    steps:
      - name: Output HeadRef
        run: echo "${{ github.head_ref }}"
        
      - name: Azure Login 
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      - name: Start self-hosted runner
        run: |
          az vm start --subscription Build -g Dev-CI -n github-runner1
  clean:
    runs-on: [self-hosted, Linux, x64, docker]
    needs: start-runner
    steps:
      - name: cleanup
        run: |
          echo "${{ github.head_ref }}"
          echo "${{ github.workspace }}"
          sudo chown -R $USER:$USER ${{ github.workspace }}
          
  build:
    runs-on: [self-hosted, docker]
    needs: clean
    steps:
      - uses: actions/checkout@v2   
      - name: Run a multi-line script, Build Binaries   
        run: |
          set -e
          pwd
          ls -l
          sudo chmod 666 /var/run/docker.sock
          docker build -t ubuntu-development:1.0 --build-arg git_personal_token=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 -f Dockerfile.development .
          docker stop ubuntu_dev_CI || true && docker rm ubuntu_dev_CI || true
          docker run --name ubuntu_dev_CI -dit -p 6200:6200 -p 27017:27017 -v ${PWD}:/Workspace -w="/Workspace" ubuntu-development:1.0 /bin/bash
          docker exec -w /Workspace/Milestone3/ ubuntu_dev_CI sudo mongod --port 27017 --dbpath /srv/mongodb/db0 --replSet rs0 --bind_ip localhost --fork --logpath /var/log/mongod3.log
          docker exec -w /Workspace/ ubuntu_dev_CI ps -ef
          docker exec -w /Workspace/Milestone3/ ubuntu_dev_CI ./CreateDailyBuild.sh
          docker exec -w /Workspace/Milestone3/Binary/ ubuntu_dev_CI ls -l
          docker exec -w /Workspace/ ubuntu_dev_CI ps -ef
          docker exec -w /Workspace/Milestone5/ ubuntu_dev_CI ./CreateDailyBuild.sh
          docker exec -w /Workspace/Milestone5/Binary/ ubuntu_dev_CI ls -l
          docker stop ubuntu_dev_CI
          docker rm ubuntu_dev_CI
  
  stop-runner:
    # Always stop runner even if build step fails
    if: always()
    runs-on: ubuntu-latest
    needs: [start-runner, build]
    steps:
      - name: Azure Login 
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deallocate self-hosted runner
        run: |
          pwd
          ls -l
          az vm deallocate  --subscription Build -g Dev-CI -n github-runner1 --no-wait
  
  workflow-conclusion:
    # Without this step workflow remains "green" if build does fail.
    if: always()
    runs-on: ubuntu-latest
    needs: [start-runner, build, stop-runner]
    steps:
      - uses: technote-space/workflow-conclusion-action@v2
      - name: Check Job Status status and fail if they are red
        if: env.WORKFLOW_CONCLUSION == 'failure'
        run: exit 1
